* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

:root {
  --white: #fff;
  --white-200: #eff8ff;
  --gray: #6e7275;
  --gray-light: #dbdbdb;
  --gray-200: #293145;

  --blue: #0f9afe;
}

.wrap-content {
  margin: 0 8rem;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.menu {
  display: flex;
  align-items: center;
  gap: 4rem;
  font-family: "Inter", sans-serif;
  color: var(--gray);
}

.menu ul a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  color: var(--gray);
  font-size: 16px;
  font-weight: normal;
}

#section-one {
  background-color: var(--white-200);
  height: 100vh;
  padding: 5rem 0;
}

.main-content-wrapper {
  display: flex;
  flex: 1;
  gap: 10rem;
  align-items: center;
}

.content .title {
  font-family: "sora", sans-serif;
  font-size: 64px;
  font-weight: 500;
  color: var(--gray-200);
}

.title span {
  display: block;
}

.content .register {
  margin-top: 4rem;
}
.content a {
  text-decoration: none;
  background: var(--blue);
  color: var(--white);
  padding: 0.8rem 2rem;
  border-radius: 0.8rem;
  font-family: "inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.2s;
}

.content a:hover {
  filter: brightness(0.9);
}
.how-works-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.how-works-wrapper .title {
  text-align: center;
  font-family: "sora", sans-serif;
  font-size: 28px;
  font-weight: 300;
  color: var(--gray-200);
}

.functionalities {
  display: flex;
  justify: space-between;
  margin-top: 3rem;
}

.function-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.function-item img {
  height: 72px;
  width: 72px;
}

.function-item strong {
  font-family: "sora", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: var(--gray-200);
}

.function-item p {
  width: 50%;
  line-height: 2rem;
  text-align: center;
  color: var(--gray);
  font-family: "inter", sans-serif;
}

#section-three {
  background-color: var(--white-200);
  padding: 5rem 0;
}

.content-wrapper-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-two-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-two-content .title {
  font-family: "sora", sans-serif;
  font-size: 28px;
  font-weight: 300;
  color: var(--gray-200);
}

.section-two-content p {
  width: 80%;
  line-height: 2rem;

  color: var(--gray);
  font-family: "inter", sans-serif;
}

.app-download {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.app-download img {
  cursor: pointer;
}

.plans-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.information {
  margin-bottom: 4rem;
  align-text: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information .title {
  font-family: "sora", sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: var(--gray-200);
  margin-bottom: 1rem;
}

.information p {
  width: 60%;
  line-height: 2rem;
  text-align: center;
  color: var(--gray);
  font-family: "inter", sans-serif;
}

.plans {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--white-200);
  border-radius: 0.5rem;
  height: 32rem;
  width: 22rem;
}

.plan strong {
  font-family: "sora", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: var(--gray-200);
}

.plan img {
  margin-top: 1.5rem;
}

.plan p {
  width: 100%;
  line-height: 1.8rem;
  text-align: center;
  color: var(--gray);
  font-family: "inter", sans-serif;
  margin-top: 1.5rem;
}

.plans .silver {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--gray-200);
  border-radius: 0.5rem;
  height: 32rem;
  width: 22rem;
}

.plans .silver p {
  width: 100%;
  line-height: 1.8rem;
  text-align: center;
  color: var(--white);
  font-family: "inter", sans-serif;
}

.plans .silver strong {
  font-family: "sora", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: var(--white);
}

.plan button {
  border: none;
  padding: 0.5rem 3rem;
  background-color: var(--blue);
  border-radius: 0.8rem;
  color: var(--white);
  font-size: 17px;
  margin-top: 2rem;
  cursor: pointer;
  transition: all 0.2s;
}

.plan button:hover {
  filter: brightness(0.9);
}

.contact-wrapper {
  background-image: url("/assets/contactImage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 24rem;
  margin-top: 6rem;
}

.contact-content-wrapper {
  width: 100%;
  height: 24rem;
  background-color: rgba(16, 19, 27, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-content-wrapper .title {
  font-family: "sora", sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: var(--white);
  margin-bottom: 1rem;
  margin-top: 4rem;
}

.contact-content-wrapper p {
  width: 30%;
  line-height: 1.8rem;
  text-align: center;
  color: var(--white);
  font-family: "inter", sans-serif;
}

form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  gap: 1rem;
  margin-top: 4rem;
}

form input {
  padding: 1rem 10rem 0.4rem 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--white);
  color: var(--white);
  font-family: "inter", sans-serif;
  font-size: 1rem;
}

input::placeholder {
  color: var(--white);
  font-size: 1rem;
}
form button {
  border: none;
  padding: 0.5rem 1.5rem;
  background-color: var(--blue);
  border-radius: 1rem;
  color: var(--white);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s;
}

form button:hover {
  filter: brightness(0.9);
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

footer p {
  line-height: 1.8rem;
  text-align: center;
  color: var(--gray-200);
  font-family: "inter", sans-serif;
}

footer a {
  text-decoration: none;
  line-height: 1.8rem;
  text-align: center;
  color: var(--gray-200);
  font-family: "inter", sans-serif;
}
